<div class="foot container-fluid">
  <div class="foot-row">
    <div class="footbtn foot-col-linkedin col-3">
      <a class="btn btn-outline-danger" href="https://www.linkedin.com/in/saulo-fernandez-146a98197/" role="button"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footbtn foot-col-github col-3">
      <a class="btn btn-outline-danger" href="https://github.com/serenomoon" role="button"><i class="fab fa-github-square"></i></a>
    </div>


    <div class="footbtn foot-col-flags col-3">
      <form class="formflag" method="post">
      <button id="forming" class="butesp" type="submit" name="lang" value="ing"><img class="flags" src="img/reino-unido.png" alt="ingles"></button>
      </form>
    </div>
    <div class="footbtn foot-col-flags col-3">
      <form class="formflag" method="post">
      <button id="formesp" class="butesp" type="submit" name="lang" value="esp"><img class="flags" src="img/espana.png" alt="ingles"></button>
      </form>
    </div>


    <div class="foot-col col-12">
      <p class="foot-p">Saulo Fernandez ©</p>
    </div>
  </div>
</div>
